[build]
builder = "nixpacks"
buildCommand = "cd backend/backend && ./mvnw clean install -DskipTests"

[deploy]
startCommand = "java -jar backend/backend/target/backend-0.0.1-SNAPSHOT.jar"

[build.environment]
NIXPACKS_JDK_VERSION = "17"